# Dependencies
node_modules/

# Build outputs
dist/
release/
web-build/
.expo/

# Android / iOS
android/
ios/

# Electron
*.asar

# Env
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
